{% extends "main.twig" %}

{% block main %}
<section class="section">
    <div class="container">
        <div class="column is-one-third is-offset-one-third">
            <h2 class="is-size-6 has-text-centered has-text-danger">
                {{ error }}
            </h2>
            <h2 class="is-size-6 has-text-centered">
                Updated as of : {{ filetime }}
            </h2>
            <div class="box">
                <form action="index.php" method="post">
                    <label for="from" class="label">
                        Exchange from : 
                    </label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="currency1" id="currency1">
                                    {% for rateCode, array in output.getSupportedRates() %}
                                        {% for symbol, detail in array %}
                                            <option value="{{ rateCode }}" {% if post.currency1 == rateCode %} selected {% endif %}> {{ symbol }} {{ detail }}
                                            </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control is-expanded">
                            <input type="number" class="input" placeholder="Place amount" id="from" name="amount" value="{{ post.amount }}">
                        </div>
                    </div>
                    <label for="to" class="label">
                        Exchange to
                    </label>
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="currency2" id="currency2">
                                    {% for rateCode, array in output.getSupportedRates() %}
                                        {% for symbol, detail in array %}
                                        <option value="{{ rateCode }}"{% if post.currency2 == rateCode %} selected {% endif %} > {{ symbol }} {{ detail }}
                                        </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field is-expanded">
                        <input type="submit" class="button is-fullwidth is-primary">
                    </div>
                </form>
            </div>
            <article class="message {{ message.class }} has-text-centered">
                <div class="message-body">
                    <p>{{ message.message }}</p>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock main %}